//- categories-manage.pug
extends main.pug

block content
  script.
    function editCategory(category) {
      $('#edit-category-form').attr('action', '/admin/category/' + category._id);
      //- $('#edit-category-form').attr('method', 'PUT');
      $('#edit-category-title').val(category.name);
      $('#edit-category-description').val(category.description);
      $('#create-category-btn').removeClass('hidden');
      $('#edit-category-btn').text('Обновить категорию');
    }
    function editCancel() {
      $('#edit-category-form').attr('action', '/admin/categories');
      //- $('#edit-category-form').attr('method', 'POST');
      $('#edit-category-btn').text('Создать категорию');
      $('#create-category-btn').addClass('hidden');
      $('#edit-category-title').val('');
      $('#edit-category-description').val('');
    }
    function validateInput(input) {
      $('#' + input.name).text(input.name + ' (' + input.value.length + ')')
    }
  form#edit-category-form(method="POST" action="/admin/categories")
    .form-group
      .input-group
        span.input-group-addon#name name
        input#edit-category-title.form-control(autocomplete="off" type="text" name="name" onkeyup="validateInput(this)")
    .form-group
      .input-group
        span.input-group-addon#description description
        input#edit-category-description.form-control(autocomplete="off" type="text" name="description" onkeyup="validateInput(this)")
    button#edit-category-btn.btn-danger.btn-lg.btn-block(type="submit") Создать категорию
  button#create-category-btn.btn-default.btn-lg.btn-block.hidden(type="button" onclick="editCancel()") Отменить редактирование
  if !categories || !categories.length
    h2 Категории не найдены
  else
    hr
    table.table.table-condensed
      thead
        tr
          th Категории
          th
      tbody
        each category, index in categories
          -var stringifyCategory = JSON.stringify(category)
          tr
            td
              button.btn.btn-link(type="button" title="Редактировать " + category.name onclick="editCategory(" + stringifyCategory+ ")")
                h4 #{category.name}
            td
              a.btn.btn-default.btn-lg.pull-right.delete-btn(href="/admin/category/" + category._id+ "/delete" title="Удалить категорию" onclick="return confirm('Точно удаляем?')")
                span.glyphicon.glyphicon-trash(aria-hidden="true")
