//- error-public.pug
extends main.pug

block content
  p Такой страницы не существует.
  p
    | Если ты читаешь это сообщение, то ты попал на страницу, которая не существует. Давай разберёмся почему это могло произойти.
  h2 Возможные причины:
  ul
    li Вы вводили ссылку на страницу и сделали ошибку
    li Страница была перемещена на другой адрес или удалена
    li На сайте есть какая-то поломанная ссылка в меню
    li Произошёл технический сбой и вам отдало ошибочный адрес
  h2 Решение:
  p
    | Не стоит переживать! Просто 
    a(href='/' title='На главную') нажми сюда и перейди на главную
    | .
  h2 Расскажи про ошибку:
  p
    | Вы всегда можете 
    a(href='https://t.me/PinkyaRabbit' title='Мой телеграм' target='_blanc') добавить меня в телеграм
    |  и сообщить об ошибке.
