//- tags-manage.pug
extends main.pug

block content
  script.
    function editTag(tag) {
      $('#admin-tag-form').removeClass('hidden');
      $('#admin-tag-form').attr('action', '/admin/tag/' + tag._id);
      $('#admin-tag-name').val(tag.name);
      $('#admin-tag-slug').val(tag.slug);
    }
    function hideForm() {
      $('#admin-tag-form').addClass('hidden');
    }
    function deleteTag(tag) {
      const confirmed = confirm(`Точно удалить тег "${tag.name}"`);
      if (confirm) {
        window.location.replace(`/admin/tag/${tag._id}/delete`);
      }
      this.pre
    }
  form#admin-tag-form.hidden.form-inline(action="/admin/tag" method="POST" onsubmit="hideForm();")
    .form-group
      .input-group
        span.input-group-addon Title
        input.form-control#admin-tag-name(autocomplete="off" type="text" name="name")
    .form-group
      .input-group
        span.input-group-addon Slug
        input.form-control#admin-tag-slug(autocomplete="off" type="text" name="slug")
    button.btn.btn-info(type="submit") >
    hr
  if !tags || !tags.length
    h2 Пока не создано ни одного тега
  else
    each tag, index in tags
      -var stringifyTag = JSON.stringify(tag);
      button.btn.btn-link(type="button" tag._id title="Редактировать " + tag.name onclick="editTag(" + stringifyTag+ ")" oncontextmenu="deleteTag(" + stringifyTag+ ");  return false;")
        | #{tag.name}
    hr
    .alert(role="alert") Чтобы редактировать - нажмите левой, удалить - нажмите правой.
