@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=cyrillic');

body {
  background: #333333 url("/images/c/bg.jpg");
  font-family: 'Lora', serif;
  font-size: 15px;
}
#content {
  background: #ffffff;
  padding: 20px;
}
main{
  padding: 0 20px;
}
.logo{
  width: 100%
}
h1{
  margin-bottom: 0!important;
  background: #a44170 url(../images/c/h1.png) repeat center center !important;
  color: #fff;
  padding: 10px 30px;
  text-transform: capitalize;
  margin: 0;
}
footer{
  text-align: center;
  background-color: #914469;
  color: #f2f2f2;
  padding: 15px;
}
a{
  color: #fba9fb
}
#content a{
  color: #9100cc;
}
.tags {
  margin: 10px 0;
  line-height: 25px;
}
.tags a,
.tags span.tag-wrapper {
  margin-right: 5px;
}
.tags span.tag-wrapper:hover,
.tags span.tag-wrapper:focus {
  cursor: pointer;
}

.tags a:hover,
.tags a:focus {
  text-decoration: none;
}
.news-feed .breadcrumb {
  background-color: #ffffff;
  color: #c781b8;
  border: 1px solid #dddddd;
}
.news-feed .breadcrumb a{
  color: #c781b8!important;
  margin-left: 5px;
}
.news-feed .description {
  margin: 10px 0;
}
.category-name-wrapper {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
}
.category-name {
  display: block;
  background: #904c6d;
  position: absolute;
  left: -30px;
  padding: 10px 30px 10px 10px;
  border-radius: 4px 0 0 4px ;
  color: #ffffff;
  box-shadow: 0 4px 2px -2px gray;
}
.category-name:after{
  content:"";
  position:absolute;
  height:0;
  width:0;
  left:100%;
  top:0;
  border:20px solid transparent;
  border-left: 20px solid #904c6d;
}
.category-name span{
    margin-right: 5px;
}
a.category-name,
a.btn {
  color: #ffffff!important;
}
a.category-name:hover,
a.category-name:focus{
  text-decoration: none;
}
.input-success {
  background: #dff0d8;
}
#editor-wrapper {
  margin: 20px 0;
}
.navbar{
  margin-bottom: 0;
}
.navbar-brand{
  padding: 0;
}
.navbar-default{
  background-color: #333333;
  border-color: #333333;
}
.navbar-default .navbar-nav>li>a{
  color: #f2f2f2;
  font-size: 17px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background-color: #dddddd;
  color: black;
}
.navbar-default .navbar-brand {
    color: #ffa0fc;
}
a.btn-default{
    color: #31708f!important;
}
#create-tag:hover,
#create-tag:focus,
.delete-btn:hover,
.delete-btn:focus {
  cursor: pointer;
}
.glyphicon-tag {
  margin-right: 5px;
}
.glyphicon-folder-open {
  margin-right: 10px;
}
.tag-cloud a {
  color: #853a5e!important;
}

/* spinner */
#img-spinner{
  text-align: center;
  padding: 100px 0;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #9a6c82;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
